@tailwind base;
@tailwind components;
@tailwind utilities;

.txtbtn {
    background: transparent;
    color: hsl(var(--s));
    transition: color 0.3s ease;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #eee;
    height: 0px;
}

// .btn {
//     text-transform: none;
// }

.txtbtn:hover {
    color: hsl(var(--p));
}

// :root {
//     --foreground-rgb: 0, 0, 0;
//     --background-start-rgb: 214, 219, 220;
//     --background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
//     :root {
//         --foreground-rgb: 255, 255, 255;
//         --background-start-rgb: 0, 0, 0;
//         --background-end-rgb: 0, 0, 0;
//     }
// }

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: absolute;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: rgba(19, 19, 19, 0.75);
    backdrop-filter: saturate(180%) blur(5px);
}

html {
    scroll-behavior: smooth;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid hsl(var(--p));
}

.text-outline {
    -webkit-text-stroke: 2px hsl(var(--p));
}

.bg-noise {
    // background-image: url(http://noisepng.com/200-40-12.png);
    background-image: url(/noise-light.png);
}
